name: CI

on:
  pull_request:
    types: [ opened, reopened, synchronize ]
    branches:
      - main

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest, windows-11-arm]

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '10.0.x'

    - name: Check format
      run: cargo fmt --check

    - name: Clippy
      run: cargo clippy

    - name: Build
      run: cargo build

    - name: Run tests
      timeout-minutes: 4
      run: cargo test
