on:
  release:
    types: [created]

jobs:
  release:
    name: Release ${{ matrix.target }}
    strategy:
      matrix:
        include:
          - target: x86_64-unknown-linux-gnu
            os: ubuntu-latest
            build-tool: cargo
          - target: x86_64-apple-darwin
            os: macos-latest
            build-tool: cargo
          - target: aarch64-apple-darwin
            os: macos-latest
            build-tool: cargo
          - target: x86_64-pc-windows-msvc
            os: windows-latest
            build-tool: cargo
          - target: aarch64-pc-windows-msvc
            os: windows-11-arm
            build-tool: cargo
          - target: aarch64-unknown-linux-gnu
            os: ubuntu-24.04-arm
            build-tool: cargo
          - target: aarch64-unknown-linux-gnu.2.17
            os: ubuntu-24.04-arm
            build-tool: cargo-zigbuild
          - target: x86_64-unknown-linux-gnu.2.17
            os: ubuntu-latest
            build-tool: cargo-zigbuild
          - target: aarch64-unknown-linux-musl
            os: ubuntu-24.04-arm
            build-tool: cargo-zigbuild
          - target: x86_64-unknown-linux-musl
            os: ubuntu-latest
            build-tool: cargo-zigbuild
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - name: Install Zig
        if: matrix.build-tool == 'cargo-zigbuild'
        uses: mlugg/setup-zig@v2
        with:
          version: 0.15.2

      - name: Install cargo-zigbuild
        if: matrix.build-tool == 'cargo-zigbuild'
        shell: bash
        run: |
          cargo install --locked cargo-zigbuild

          BASE_TARGET="${{ matrix.target }}"
          BASE_TARGET="${BASE_TARGET%.2.17}"

          echo "Using rustup target: $BASE_TARGET"
          rustup target add "$BASE_TARGET"

      - uses: taiki-e/upload-rust-binary-action@v1
        with:
          bin: csharp-language-server
          target: ${{ matrix.target }}
          build-tool: ${{ matrix.build-tool }}
          archive: csharp-language-server-${{ matrix.target }}
          zip: all
          token: ${{ secrets.GITHUB_TOKEN }}

  publish:
    name: Publish to crates.io
    runs-on: ubuntu-latest
    needs: release
    steps:
      - uses: actions/checkout@v4
      - name: Publish
        run: cargo publish --token ${{ secrets.CARGO_REGISTRY_TOKEN }}
